<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav " fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="nav-items">Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item class="nav-items highlight" href="home">Home</a>
      <a mat-list-item class="nav-items" href="profile">Profile</a>
      <a mat-list-item class="nav-items" href="about">About</a>
      <button mat-raised-button  class="log-button" (click)="logout()">Logout</button>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a href="home" class="app-title">Auction-system</a></span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="body">
          <div class="card-container  mx-auto">
            <item-card [user]="user" [item]="item" *ngFor="let item of items"></item-card>
        </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
