.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: black;
  border-color: goldenrod;
  border-style: solid;
  border-width: 1px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar{
  /* -webkit-text-stroke: .5px white; */
  background-color: black;
  color: goldenrod;
  font-weight: 500;
  font-size: 3vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-items{
  color: goldenrod;
}
.body{
  background-image: radial-gradient(rgb(57, 57, 57),black);
  color: goldenrod;
  padding: 20px;
  min-height: 92vh;
}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: flex-start;
  gap: 20px;
}
.my-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.add-bal{
  color: gray;
  background-color: transparent;
  border: solid  black 0.25px;
  border-radius: 3px;
}
@media only screen and (max-width: 299px){
  .p{
    font-size: 12px;
  }
}
@media only screen and (min-width: 300px){
  .p{
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px ){
  .p{
    font-size: 16px;
  }
}
.icon{
  width: 6vw;
  max-width: 60px;
  min-width: 50px;
  color: goldenrod;
}


.app-title{
  color: goldenrod;
  text-decoration: none;
  font-size: 22px;
}
.log-button{
  color: goldenrod;
  background-color: black;
  border-style: solid;
  border-color: goldenrod;
  margin: 10px;
  border-width: 1px;
}
.create-button{
  width: 60px;
  color: goldenrod;
  background-color: black;
  border-style: solid;
  border-color: goldenrod;
  border-width: 1px;
  font-size: 12px;
height: 30px;
  border-radius: 8px;
}
.highlight{
  text-decoration: underline;
  text-decoration-color: goldenrod;
  text-shadow: 3px goldenrod;
}
.profile{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items:center;
}