<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav " fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="nav-items">Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item class="nav-items" href="profile">Profile</a>
      <a mat-list-item class="nav-items" href="#">Trending items</a>
      <button mat-raised-button color="primary" class="align-self-end" (click)="logout()">Logout</button>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a href="home" class="app-title">Auction-system</a></span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="body">
          <h2>My Profile</h2>
          <div>
            <p>Userame : {{user.customerName}}</p>
            <p>Mail : {{user.customerMail}}</p>
          </div>
          <hr color="goldenrod" class="mt-5">
          <h2>Wallet</h2>
          
          <div>
            <p>Balance : {{user.wallet.walletBalance}}</p>
          </div>
          <hr color="goldenrod" class="mt-5">
          <h2>My items</h2>
          
          <div class="card-container">
              <item-card class="item-card" [item]="item" *ngFor="let item of myItems"></item-card>
          </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>