<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav " fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="nav-items">Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item class="nav-items" href="home">Home</a>
      <a mat-list-item class="nav-items highlight" href="profile">Profile</a>
      <a mat-list-item class="nav-items" href="#">Trending items</a>
      <button mat-raised-button class="log-button" (click)="logout()">Logout</button>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        <hr color="goldenrod" class="mt-5">
      </button>
      <span><a href="home" class="app-title">Auction-system</a></span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="body">
          <div class="profile">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person icon" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            <div>
              <p class="p">Userame : {{user.customerName}}</p>
              <p class="p">Mail : {{user.customerMail}}</p>
            </div>
          </div>
          <hr color="goldenrod" class="mt-5">
          <div class="profile">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-wallet2 icon" viewBox="0 0 16 16">
              <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
            </svg>
            <div>
              <p>Current Balance : {{walletDetails.walletBalance}}</p>
              <p>Usable Balance : {{walletDetails.availableBalance}}</p>
              <input class="add-bal p" [(ngModel)]="balance" type="number" (keypress)="inpChanged()" (blur)="inpChanged()" (keyup)="inpChanged()" placeholder="Recharge /-" ><br>
              <button [disabled]="disableAddBalance"  mat-raised-button class="log-button" (click)="addBalance()">Recharge</button>
            </div>
          </div>
          
          
          <hr color="goldenrod" class="mt-5">
          <div class="my-items">
            <h2>My items</h2>
            <button  class="create-button">New +</button>
          </div>
          
          <div class="card-container mx-auto">
              <p class="p" *ngIf="myItems.length===0">No items found</p>
              <item-card [user]="user" [item]="item" *ngFor="let item of myItems"></item-card>
          </div>
          
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>