<div (mouseover)="mouseEntered()" (mouseout)="mouseLeft()" >
    <!-- <p>{{item | json}}</p> -->
        <p>Name : {{item.itemName}}</p>
        <p>Start price : {{item.itemStartPrice}}</p>
        <div >
            <p class="err-message" >{{message}}</p>
            <p class="err-message" *ngIf="bidsFound">Bidder : {{highestBid.bidder.customerName}}</p>
            <button (click)="bidIt()" [class.d-none]="item.owner.customerId===user.customerId" class="bid-button" >Bid It for {{amountToBeBiddedFor}} /-</button>
            <p *ngIf="isFailed">{{errMessage}}</p>
        </div>
        
  </div>