.err-message{
    color: goldenrod;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}
.bid-button{
    color: goldenrod;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2vw;
    border-color: goldenrod;
    border-width: 1px;
  }