.err-message{
    color: goldenrod;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;

}
.bid-button{
    color: goldenrod;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    border-color: goldenrod;
    border-width: 1px;
  }
  .card-component{
    background-color: black;
    width:150px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: goldenrod;
    border-width: 1px;
    height: 150px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
@media screen and (width>=768px){
    .card-component{
        width: 150px;
    }
}